@font-face {
    font-family: 'gt_walsheim_proultra_light';
    src: url('../fonts/gt-walsheim-pro-ultra-light-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-ultra-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_walsheim_proultra_bold';
    src: url('../fonts/gt-walsheim-pro-ultra-bold-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-ultra-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_walsheim_prothin';
    src: url('../fonts/gt-walsheim-pro-thin-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_walsheim_proregular';
    src: url('../fonts/gt-walsheim-pro-regular-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_walsheim_promedium';
    src: url('../fonts/gt-walsheim-pro-medium-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_walsheim_prolight';
    src: url('../fonts/gt-walsheim-pro-light-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aileronsregular';
    src: url('../fonts/ailerons-typeface-webfont.woff2') format('woff2'),
         url('../fonts/ailerons-typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}