$fontSize: 12px;




$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)"; 
$desktop: "(min-width: 1024px)";
@mixin Size($font){
	font-size: 12px + $font;
}

p {
font-size: 18px;
@media #{$tablet} { 
	@include Size(2px);
}
@media #{$desktop} { 
	@include Size(4px);
} 
}
@media (max-width: 400px) { [class*='col-'] {
float: none;
width: 100%;
display: block; }
}



.grid-container { width: 100%;
 }

.row:before, 
.row:after {
content : " "; 
display : table; 
clear: both;
}

[class*='col-'] { 
float: left;
min-height: 1px;
width: 16.666%; 
//border: 1px solid black;


}

.col-1 { 
width: 16.66%; 
}

.col-2 { 
width: 33.33%; 
}

.col-3 { 
width: 50%; 
}

.col-4 { 
width: 66.66%; 
}

.col-5 { 
width: 83.33%; 
}

.col-6 { 
width: 100%; 
}



.col-2 {

}

#content {
	
}
#content-right {
	
}
#footer{
		height: 100px;

}
.li {
	
	
}
@media (max-width: 550px) { [class*='section_skills'] {
height: 300vh !important;
background-image: none !important;
background: #f7f7f7 !important;
 }
}
@media (max-width: 550px) { [class*='col-'] {
width: 100%; }
}
@media (max-width: 550px) { [id*='header'] {
background-size: auto;
background-attachment: scroll !important;
background-image: url(../images/smaller.jpg)  no-repeat center !important;
 }
}

@media (max-width: 550px) { [class*='contact'] {
border-right: none  !important;
border-bottom: 1px solid black  !important;}
}
@media (max-width: 550px) { [class*='contact_info'] {
border-bottom: none  !important;
}
}
@media (max-width: 550px) { [class*='btn-menu'] {
right: 1vw  !important;
margin-top: 0  !important;
}
}
@media (max-width: 550px) { [id*='section_logo'] {
display: none  !important;
}
}
@media (max-width: 550px) { [id*='portfolio'] {
display: none  !important;
}
}

@media (max-width: 550px) { [id*='portfolio2'] {
display: flex  !important;
flex-direction: column  !important;
//display: flex  !important;
}
}

@media (max-width: 550px) { [class*='slider'] {
float: none;
width: 100%; }
}


