$fontSize: 16px;




$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)"; 
$desktop: "(min-width: 1024px)";
@mixin Size($font){
	font-size: 18px + $font;
}

p {
font-size: 10px;
@media #{$tablet} { 
	@include Size(2px);
}
@media #{$desktop} { 
	@include Size(4px);
} 
}
@media (max-width: 400px) { [class*='col-'] {
float: none;
width: 100%;
display: block; }
}



.grid-container { width: 100%;
 }

.row:before, 
.row:after {
content : " "; 
display : table; 
clear: both;
}

[class*='col-'] { 
float: left;
min-height: 1px;
width: 16.666%; 
//border: 1px solid black;


}

.col-1 { 
width: 16.66%; 
}

.col-2 { 
width: 33.33%; 
}

.col-3 { 
width: 50%; 
}

.col-4 { 
width: 66.66%; 
}

.col-5 { 
width: 83.33%; 
}

.col-6 { 
width: 100%; 
}



@media (max-width: 550px) { [class*='col-'] {
//width: 100%;
display:block !important;

}
}



