@import "reset";
@import "grid";
@import "fonts";
@import "header";
@import "icons_about";
@import "motto_team_skills";
@import "clients_portfolio";
@import "contact";


*{
	box-sizing: border-box;
	outline: none;
}

body {
	margin:0;
	padding:0;
	font-family: 'latolight';
	display:flex;
	justify-content: center;
	line-height: 1.5;

}
h1{
	font-size: 10vh;
	font-family: 'existencelight';
	color: white;
	span{
		color: #9f449b;
	}
}


.container{
	width: 700px;
	//border: 1px solid red;

}
.hexagon{
	
	display: flex;
	align-items: center;
	justify-content: center;
	

.index{
	z-index: 2;
}


}



.border{position:relative;width:200px;height:80px;z-index: 20;}
.border2{position:relative;width:240px;height:100px;z-index: 20;}
.border:before, .border2:before, .border:after, .border2:after, .border>:first-child:before, .border2>:first-child:before, .border>:first-child:after, .border2>:first-child:after {
    position:absolute;
    width:20px; height: 20px;
    border-color:#9f449b; /* or whatever colour */
    border-style:solid; /* or whatever style */
    content: ' ';
}
.border:before, .border2:before {top:0;left:0;border-width: 0px 0 0 0px}
.border:after, .border2:after {top:0;right:0;border-width: 1px 1px 0 0}
.border>:first-child:before, .border2>:first-child:before {bottom:0;right:0;border-width: 0 0px 0px 0}
.border>:first-child:after, .border2>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px}




.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  border-top: 0;
  background: white;
  padding: 1% 10% 1% 10% ;
}













